extends base.pug

block content
	video(src="/" + movie.fileUrl, controls)
	div
		p=movie.summary
		small=movie.year
		br
		small=movie.rating
	a(href=`${movie.id}/edit`) Edit movie &rarr;
	br
	a(href=`${movie.id}/delete`) Delete movie &rarr;